<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<dom-module id="cotton-chip">
    <style>
        :host {
            display: inline-block;
            height: var(--chip-height, 32px);
            font-size: 13px;
            font-weight: 500;
            color: rgba(0, 0, 0, .6);
            line-height: 32px;
            padding: 0 12px;
            border-radius: 16px;
            background-color: var(--cotton-chip-background-color, #ccc);
            position: relative;
        }

        :host:hover {
            background-color: var(--cotton-chip-background-color-hover, #ccc) !important;
        }

        paper-icon-button {
            cursor: pointer;
            width: 16px;
            height: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            margin: auto 8px;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            width: var(--text-size, 100%);
            padding-right: 10px;
            margin-right: 5px;
        }

    </style>
    <template>
        <span title="[[text]]">[[text]]</span>
        <template is="dom-if" if="[[icon]]">
            <paper-icon-button icon="[[icon]]"></paper-icon-button>
        </template>
        <template is="dom-if" if="[[!icon]]">
            <paper-icon-button icon="clear" alt="clear" title="clear" on-tap="_removeChip"></paper-icon-button>
        </template>
    </template>

    <script>
        Polymer({
            is: 'cotton-chip',

            properties: {
                text: String,
                icon: { type: String, value: function() { return null; } },
                keepChip: { type: Boolean }
            },

            _removeChip: function (event) {
                this.fire('remove-chip', { text: this.text });
                if (!this.keepChip)
                    this.remove();
                event.stopPropagation();
            }
        });
    </script>
</dom-module>
